@import url("screen_layout.css");

body {
  background-color: #fff;
}

#container {
  border: 1px solid #c0c0c0;
  color: #333333;
} 

#header {
  background-color: #cbb58a;
  border-bottom: 1px solid #ae976a;
}

#header h1:after {
  color: #ffffe0;
}

#footer {
  background-color: #e7d9bd;
  border-top: 1px solid #ae976a;
}

div.key_pos {
  background-color: #ffffe0;
  border: 1px solid #777;
}

div.harp_options {
  color: #685c45;
}

.chord {
  color: green;		/* Green */
}

.blues {
  color: #464fa3;	/* Blue */
}

.passing {
  color: #f58e25;	/* Orange */
}

.danger {
  color: #e22828;	/* Red */
}

h2, h3, div.key_pos_or {
  color: #685c45;
}

div.options h3:before {
  color: #ffffe0;
}

div.options h3 {
  background-color: #e7d9bd;
  border-bottom: 1px solid #cbb58a;
  border-right: 1px solid #c0c0c0;
  color: #333;
}

a {
  color: #685c45;
  border-bottom: 1px dotted #685c45;
}

a:hover {
  border-bottom: 1px solid #685c45;
}

table.harmonica td {
  color: #333;
}

table.harmonica td.natural, table.harmonica td.drawbend, table.harmonica td.blowbend,
table.harmonica td.overblow, table.harmonica td.overdraw, table.harmonica td.heading,
table.harmonica td.holenum {
  background-color: #ffffe0;
  border: 1px solid #777;
}

table.harmonica td.heading {
  border-width: 0;
}

table.harmonica td.drawbend, table.harmonica td.blowbend {
  background-color: #e6e6fa;
}

table.harmonica td.overdraw, table.harmonica td.overblow {
  background-color: #ffb6c1;
}

table.harmonica td.empty {
  background-color: #fff;
  border-color: #fff;
}

table.harmonica tr.holenums td.heading, tr.holenums td.holenum {
  background-color: #444;
  color: #fff;
}

select { /* Only viewable in UA's that don't emulate OS X stylee */
  color: #777;
  background-color: #fff;
  border: 1px solid #777;
}
