CSS CODE
#container
{
width: 90%;
margin: 10px auto;
background-color: #fff;
color: #333;
border: 1px solid gray;
line-height: 130%;
overflow: auto;
}
* html #container {
height: 1%;
}

.spacer {
	clear: both;
}

#header
{
padding: .5em;
background-color: #ddd;
border-bottom: 1px solid gray;
}

#header h1
{
padding: 0;
margin: 0;
}

#leftcol
{

}

#content
{
}

#footer
{
clear: both;
margin: 0;
padding: .5em;
color: #333;
background-color: #ddd;
border-top: 1px solid gray;
}

#leftcol p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }


table.harmonica td.natural, table.harmonica td.drawbend, table.harmonica td.blowbend, table.harmonica td.overblow, table.harmonica td.overdraw,
table.harmonica td.heading, table.harmonica td.holenum
{
	background-color: #FFFFE0;
   	border-color: black;
	border-width: 1px 1px 1px 1px;
	border-style: solid;	
	margin: 0;
	padding: 0.3em 0.5em 0.3em 0.5em;
}

table.harmonica tr {
	margin: 0;
	padding: 0;
}

table.harmonica td.drawbend, table.harmonica td.blowbend {
	background-color: #9BCD9D;
	/* border-style:	dashed; */
}

table.harmonica td.overdraw, table.harmonica td.overblow {
	background-color: #F08080;
	border-style:	dashed;
}

table.harmonica td.empty {
	background-color: white;
	border-color: white;
}

table.harmonica td.heading {
	/* background-color: white; */
	/* color: black; */
	border-width: 0px;
}


tr.holenums td.heading, tr.holenums td.holenum {
	background-color: black;
	color:	white;
}

div.key_pos_container {
	overflow:	hidden;
	zoom:		1;
}

div.key_pos {
	float: 			left;
	background-color: 	#FFFFE0;
	border: 		black 1px solid;
/*	margin-right: 		3em; */
	padding: 		0 0.5em 0.5em 0.5em;
}

#calc_position, #calc_position_key {
/*	float:		left; */
}

div.key_pos_or {
	float: 		left;
	padding-top:	3em;
	padding-right: 0.5em;
	padding-left:	0.5em;
}
	
div#tuning_options {
	clear: both;
}

div.harp_and_options {
	margin-top: 2em;
	overflow:	hidden;
	zoom:		1;	
}

div.harp_table {
	float:	left;
}

div.harp_options {
	padding-left: 2em;
	float:	left;
}

div.view_options {
	margin:	1em 0em 0 0;
	padding: 2em 1em 0 0em;
}

div.include_notes h3, div.display h3 {
	margin-top:	0;
	/* margin-right:	2em; */
	padding: 0.2em 0em 0.2em 0.4em; 
	width:	100%;
	background-color: #9BCD9D;	
}

div.include_notes, div.display {

	border:	1px solid black;
	background-color: #FFFFE0;
	padding-right:	0.5em;
	/* padding: 0 0.2em 0.2em 0.2em; */
}

div.include_notes_contents {
	border: 0px solid black;
	padding: 0 0.5em 0.5em 0.5em;
}

div.display {
	margin-top:	1em;
}

.chord, .blues, .passing, .danger {
	
}
.chord {
	color:	green;
}

.blues {
	color:	blue;
}

.passing {
	color: orange;
}

.danger {
	color: red;
}

