

table.harmonica
{
    border-color: #600;
    border-width: 0 0 1px 1px;
    border-style: solid;
}

table.harmonica td
{
    border-color: #600;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
    background-color: #FFC;
}