CSS CODE
#container
{
width: 90%;
margin: 10px auto;
background-color: #fff;
color: #333;
border: 1px solid gray;
line-height: 130%;
} 
* html #container {
height: 1%;
}

.spacer {
	clear: both;
}

#header
{
padding: .5em;
background-color: #ddd;
border-bottom: 1px solid gray;
}

#header h1
{
padding: 0;
margin: 0;
}

#leftcol
{

}

#content
{
}

#footer
{
clear: both;
margin: 0;
padding: .5em;
color: #333;
background-color: #ddd;
border-top: 1px solid gray;
}

#leftcol p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }


table.harmonica td.natural, table.harmonica td.drawbend, table.harmonica td.blowbend, table.harmonica td.overblow, table.harmonica td.overdraw,
table.harmonica td.heading, table.harmonica td.holenum
{
	background-color: #FFFFE0;
   	border-color: black;
	border-width: 1px 1px 1px 1px;
	border-style: solid;	
	margin: 0;
	padding: 0.3em 0.5em 0.3em 0.5em;
}

table.harmonica tr {
	margin: 0;
	padding: 0;
}

table.harmonica td.drawbend, table.harmonica td.blowbend {
	background-color: #E6E6FA;
	/* border-style:	dashed; */
}

table.harmonica td.overdraw, table.harmonica td.overblow {
	background-color: #FFB6C1;
	border-style:	dashed;
}

table.harmonica td.empty {
	background-color: white;
	border-color: white;
}

table.harmonica td.heading {
	/* background-color: white; */
	/* color: black; */
	border-width: 0px;
}


tr.holenums td.heading, tr.holenums td.holenum {
	background-color: black;
	color:	white;
}

div.key_pos_container {
	overflow:	hidden;
	zoom:		1;
}

div.key_pos {
	float: 			left;
	background-color: 	#FFFFE0;
	border: 		black 1px solid;
/*	margin-right: 		3em; */
	padding: 		0 0.5em 0.5em 0.5em;
}


div.key_pos_or {
	float: 		left;
	padding-top:	3em;
	padding-right: 0.5em;
	padding-left:	0.5em;
}


div.harp_and_options {
	margin-top:	2em;
}

div.harp_table {
	float:	left;
}

div.harp_options {
	padding-left: 2em;
	float:	left;
}

.chord, .blues, .passing, .danger {
	
}

.chord {
	color:	green;
}

.blues {
	color:	blue;
}

.passing {
	color: orange;
}

.danger {
	color: red;
}

