<input type="hidden" name="include_bends" value="[% harp.include_bends %]">
<input type="hidden" name="include_overbends" value="[% harp.include_overbends %]">
<input type="hidden" name="include_unnecessary_overbends" value="[% harp.include_unnecessary_overbends %]">
<input type="hidden" name="show_notes" value="[% harp.show_notes %]">
<input type="hidden" name="show_intervals" value="[% harp.show_intervals %]">