[% IF note.position_interval %]
    [% class = note.type %]
[% ELSE %]
    [% class = "empty" %]
[% END %]

[% IF (class == "drawbend" OR class == "blowbend") AND NOT harp.include_bends %]
    [% style = "visibility: hidden;" %]
[% END %]

[% IF (class == "overblow" OR class == "overdraw")
    AND NOT harp.include_overbends %]
    [% style = "visibility: hidden;" %]
[% END %]

[% IF (class == "unnecessary_overblow" OR class == "unnecessary_overdraw") AND NOT harp.include_unnecessary_overbends %]
    [% style = "visibility: hidden;" %]
[% END %]

<td class="[% class %]" [% IF note.id %] id="[% note.id %]" [% END %] [% IF style %]style="[% style %]"[% END %]>
[% UNLESS class == "empty" %]
<script type="text/javascript">
//<![CDATA[
makeTT('[% note.id %]', '[% note.description %]',  '[% PROCESS "inc/harptable/tooltip.tmpl" FILTER replace('\n', '') %]');
//]]>
</script>
    <table class="notecell">
        <tr><td class="interval"  [% UNLESS harp.show_intervals %] style="display:none" [% END %]>[% note.position_interval %]</td></tr>
        <tr><td class="note" [% UNLESS harp.show_notes %] style="display:none" [% END %]>[% note.note %]</td></tr>
        <tr><td class="interval_category" [% UNLESS harp.show_interval_categories %] style="display:none" [% END %]><span class="[% note.interval_category %]">&bull;</span></td></tr>
    </table>
    <!-- >[% note.position_interval %] -->
[% END %]
</td>
