[% IF note.position_interval %]
    [% class = note.type %]
[% ELSE %]
    [% class = "empty" %]
[% END %]

<td class="[% class %]" [% IF note.id %] id="[% note.id %]" [% END %]>
[% UNLESS class == "empty" %]
<script type="text/javascript">
//<![CDATA[
makeTT('[% note.id %]', '[% note.description %]',  '[% PROCESS "inc/harptable/tooltip.tmpl" FILTER replace('\n', '') %]');
//]]>
</script>
    <table class="notecell">
        [% IF harp.show_intervals %]<tr><td class="interval">[% note.position_interval %]</td></tr>[% END %]
        [% IF harp.show_notes %]<tr><td class="note">[% note.note %]</td></tr>[% END %]
        [% IF harp.show_interval_categories %]<tr><td class="interval_category"><span class="[% note.interval_category %]">&bull;</span></td></tr>[% END %]
    </table>
    <!-- >[% note.position_interval %] -->
[% END %]
</td>
