[% IF note.position_interval %]
    [% class = note.type %]
[% ELSE %]
    [% class = "empty" %]
[% END %]

<td class="[% class %]" id="[% note.id %]">
[% UNLESS class == "empty" %]
    <table class="notecell">
        [% IF harp.show_intervals %]<tr><td>[% note.position_interval %]</td></tr>[% END %]
        [% IF harp.show_notes %]<tr><td>[% note.note %]</td></tr>[% END %]
        [% IF harp.show_interval_categories %]<tr><td><span class="[% note.interval_category %]">&bull;</span></td></tr>[% END %]
    </table>
    <!-- >[% note.position_interval %] -->
[% END %]
</td>
<script type="text/javascript">
document.observe('dom:loaded', function() {

	new Tip(
	    '[% note.id %]', 
	    '[% PROCESS "inc/harptable/tooltip.tmpl" FILTER replace('\n', '') %]', 
	    {
	        title:   '[% note.description %]',
	        effect:  'appear',
	        duration: '0.2',
	        className: 'harptt'
	    }
	);
	
});
</script>