[% IF note.position_interval %]
    [% class = note.type %]
[% ELSE %]
    [% class = "empty" %]
[% END %]

<td class="[% class %]" [% IF note.id %] id="[% note.id %]" [% END %]>
[% UNLESS class == "empty" %]
<script type="text/javascript">
//<![CDATA[
document.observe('dom:loaded', function() {
    
    if(navigator.userAgent.search(/msie/i)!= -1) {
    // Don't use scriptaculous effect on msie - not smooth
    new Tip(
	    '[% note.id %]', 
	    '[% PROCESS "inc/harptable/tooltip.tmpl" FILTER replace('\n', '') %]',
	    {
	        title:   '[% note.description %]',
	        className: 'harptt'
	    }
	);
    } else {
        // Non-ie Code
        new Tip(
    	    '[% note.id %]', 
    	    '[% PROCESS "inc/harptable/tooltip.tmpl" FILTER replace('\n', '') %]',
    	    {
    	        title:   '[% note.description %]',
    	        effect:  'appear',
    	        duration: '0.2',
    	        className: 'harptt'
    	    }
    	);
    }
	
});
//]]>
</script>
    <table class="notecell">
        [% IF harp.show_intervals %]<tr><td>[% note.position_interval %]</td></tr>[% END %]
        [% IF harp.show_notes %]<tr><td>[% note.note %]</td></tr>[% END %]
        [% IF harp.show_interval_categories %]<tr><td><span class="[% note.interval_category %]">&bull;</span></td></tr>[% END %]
    </table>
    <!-- >[% note.position_interval %] -->
[% END %]
</td>
