[% title = "Harmonica Layout" %]
[% PROCESS 'inc/header.tmpl' %]

<body>
<h1>Harp Layout</h1>

<p>Welcome to Harp Layout.</p>
<p>Debug: [% debug %]</p>

<p>Key is [% harp.key %]. Position is [% harp.position %].  Position key is [% harp.positionKey %].

[% PROCESS 'inc/options.tmpl' %] 
[% PROCESS 'inc/harptable.tmpl' %]




