[Unit]
Description=Harplayout nginx container
Requires=network-online.target

[Service]
Restart=always
TimeoutStartSec=900

[Container]
#Label=app=harplayout
ContainerName=hlnginx
Image=docker.io/jonvaughan/harplayout-nginx:0.0.3
Network=harplayout.network
PublishPort=[2600:3c13:e001:28::1]:80:80
Environment=ASSET_BASE_URL=https://assets.harplayout.com/
UserNS=auto
Pull=newer

[Install]
WantedBy=multi-user.target default.target
