<table class="harmonica">

[% IF harp.blowNotes.0.first_pos_interval %]
    <tr>
    <td class="heading">Blow</td>
    [% INCLUDE 'inc/harptable/harprow.tmpl'
        notes = harp.blowNotes
        plate = "Blow"
    %]
    </tr>
[% ELSE %]
    [% FOREACH bendstep IN harp.blowNotes %]
        <tr>
        [% IF loop.last %]<td class="heading">Blow</td>[% ELSE %]<td class="empty">&nbsp;</td>[% END %]
        [% INCLUDE 'inc/harptable/harprow.tmpl'
            notes = bendstep
            plate = "Blow"
        %]
        </tr>   
    [% END %]
[% END %]

<tr class="holenums">
<td class="heading">Hole</td>
[% FOREACH num IN harp.holeNums %]
  <td class="holenum">[% num %]</td>
[% END %]
</tr>

[% IF harp.drawNotes.0.first_pos_interval %]
    <tr>
    <td class="heading">Draw</td>
    [% INCLUDE 'inc/harptable/harprow.tmpl'
        notes = harp.drawNotes
        plate = "Draw"
    %]
    </tr>
[% ELSE %]
    [% FOREACH bendstep IN harp.drawNotes %]
        <tr>
        [% IF loop.first %]<td class="heading">Draw</td>[% ELSE %]<td class="empty">&nbsp;</td>[% END %]
        [% INCLUDE 'inc/harptable/harprow.tmpl'
            notes = bendstep
            plate = "Draw"
        %]
        </tr>   
    [% END %]
[% END %]

</table>