<table class="harmonica">
[% FOREACH bend IN harp.blowNotes %]
    <tr>
    [% FOREACH note IN bend %]
        <td>[% PROCESS 'inc/notecell.tmpl' %]</td>
    [% END %]
    </tr>
[% END %]
<tr>
[% FOREACH num IN harp.holeNums %]
  <td>[% num %]</td>
[% END %]
</tr>
[% FOREACH bend IN harp.drawNotes %]
    <tr>
    [% FOREACH note IN bend %]
        <td>[% PROCESS 'inc/notecell.tmpl' %]</td>
    [% END %]
    </tr>
[% END %]
</table>