<table class="harmonica">
[% FOREACH bend IN harp.blowNotes %]
    <tr>
    [% FOREACH note IN bend %]
        [% PROCESS 'inc/notecell.tmpl' %]
    [% END %]
    </tr>
[% END %]
<tr class="holenums">
[% FOREACH num IN harp.holeNums %]
  <td>[% num %]</td>
[% END %]
</tr>
[% FOREACH bend IN harp.drawNotes %]
    <tr>
    [% FOREACH note IN bend %]
        [% PROCESS 'inc/notecell.tmpl' %]
    [% END %]
    </tr>
[% END %]
</table>