[% INSERT 'inc/doctype_401_strict.tmpl' %]
<html lang="en">
<head>
    <title>[% title %]</title>
    <link rel="stylesheet" type="text/css" href="css/harplayout.css" media="screen" title="Earthy">
    <link rel="alternate stylesheet" type="text/css" href="css/barrd.css" media="screen" title="barrd">
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print">
    <script type="text/javascript" src="/js/forms.js"></script>
</head>
