[% INSERT 'inc/doctype_401_strict.tmpl' %]
<html lang="en">
<head>
    <title>[% title %]</title>
    <link rel="stylesheet" type="text/css" href="css/earthy.css" media="screen" title="Earthy">
    <link rel="alternate stylesheet" type="text/css" href="css/barrd.css" media="screen" title="barrd">
    <script type="text/javascript" src="/js/forms.js"></script>
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type='text/javascript' src='/js/scriptaculous/scriptaculous.js?load=effects'></script>
    <script type="text/javascript" src="/js/prototip.js"></script>
</head>
