[% name = "calc_$calculate" %]

[% CGI.start_form('-method' => 'get' '-name') %]
    
<input type="hidden" name="calculate" value="[% calculate %]">

[% INCLUDE 'form/view_settings.tmpl' %]
[% INCLUDE 'form/tuning_settings.tmpl' %]


<table>
    <tr>
        <td>Harp Key:</td><td>[% IF calculate == 'key' %]<strong>[% harp.key %]</strong>[% ELSE %][% INCLUDE 'form/dropdown/harp_key.tmpl' %][% END %]</td>
    </tr>
    <tr>
        <td>Song Key:</td><td>[% IF calculate == 'position_key' %]<strong>[% harp.position_key %]</strong>[% ELSE %][% INCLUDE 'form/dropdown/position_key.tmpl' %][% END %]</td>
    </tr>
    <tr>
        <td>Position:</td><td>[% IF calculate == 'position' %]<strong>[% harp.position %]</strong>[% ELSE %][% INCLUDE 'form/dropdown/position.tmpl' %][% END %]</td>
    </tr>
    <tr>
        <td>[% CGI.submit('-name' => 'submit', '-value' => 'Go!') %]</td></td>&nbsp;</td>
    </tr>
</table>
</form>