[% USE CGI %]
<div class="key_pos_container">
        
    <div class="key_pos" id="calc_position_key">
        <p>Get <strong>song key</strong></p>
        [%INCLUDE 'inc/key_pos_form.tmpl' 
            calculate = "position_key"
        %]
    </div>
    
    <div class="key_pos" id="calc_position">
        <p>Get <strong>position</strong></p>
        [%INCLUDE 'inc/key_pos_form.tmpl' 
            calculate = "position"
        %]
    </div>
    
    <div class="key_pos" id="calc_key">
        <p>Get <strong>key</strong></p>
        [%INCLUDE 'inc/key_pos_form.tmpl' 
            calculate = "key"
        %]
    </div>
</div>