[% IF note.position_interval %]
    [% class = note.type %]
[% ELSE %]
    [% class = "empty" %]
[% END %]

<td class="[% class %]">
    <table class="notecell" >
        [% IF harp.show_intervals %]<tr><td>[% note.position_interval %]</td></tr>[% END %]
        [% IF harp.show_notes %]<tr><td>[% note.note %]</td></tr>[% END %]
    </table>
    <!-- >[% note.position_interval %] -->
</td>