[% USE CGI %]
[% CGI.start_form('-method' => 'get')%]
<table class = "options">
<tr>
<td>Key: </td>
<td>
[% CGI.popup_menu ( 
                    '-name'    => 'keys',
                    '-values'  => harp.keys_available,
                    '-default' => harp.key,
                    '-class'  => 'dropdown',
                    '-id'       => 'keys_dropdown',
   )
%]
</td>
</tr>
<tr>
<td>Position: </td>
<td>      
[% CGI.popup_menu ( 
                    '-name'    => 'position',
                    '-values'  => harp.positions_available,
                    '-default' => harp.position,
                    '-class'  => 'dropdown',
   )
%]
</td>
</tr>
<tr>
<td>
[% CGI.checkbox (
    '-name'     => 'include_overbends',
    '-checked'    => harp.include_overbends,
    '-value'    => 1,
    '-label'    => 'Include Overblows / overdraws',
    )
%]
<tr>
<td>[% CGI.submit %]</td>
</tr>
</table>

[% CGI.end_form %]