<div id="tuning_options">
<table>
    <tr>
        <td>Tuning: </td>
        <td>[% INCLUDE 'form/dropdown.tmpl' 
            name = 'tuning'
            values = harp.tunings_available
            default = harp.tuning
            %]
        </td>
    </tr>
</table>
</div>