<div class="options" id="tuning_options">
<h3>Tuning</h3>
<div class = "options_contents">
    [% INCLUDE 'form/dropdown.tmpl' 
              name = 'tuning'
              values = harp.tunings_available
              default = harp.tuning
              onchange = "handleChange('Change Tuning')"
    %]
</div>
</div>    