<div class="options" id="notes_options">
<h3>Include Notes</h3>
<div class = "options_contents">
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'include_bends'
    checked     = harp.include_bends
    label       = 'Bends'
    onchange    = "handleChange('bends')"
%]

<br />
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'include_overbends'
    checked     = harp.include_overbends
    label       = 'Overblows / Overdraws'
    onchange    = "handleChange('overbends')"
%]
<br />
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'include_unnecessary_overbends'
    checked     = harp.include_unnecessary_overbends
    label       = 'Unnecessary OBs / ODs'
    onchange    = "handleChange('unnecessary_overbends')"
%]
</div>
</div>

<div class="options" id="display_options">
<h3>Display</h3>
<div class = "options_contents">
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'show_notes'
    checked     = harp.show_notes
    label       = 'Note names'
    onchange    = "handleChange('note')"
    id          = 'show_notes_id'
%]   
<br />
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'show_intervals'
    checked     = harp.show_intervals
    label       = 'Intervals'
    onchange    = "handleChange('interval')"
%]
<br />
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'show_interval_categories'
    checked     = harp.show_interval_categories
    label       = 'Interval categories'
    onchange    = "handleChange('interval_category')"
%]
</div>
</div>
<noscript>
    <div id="options_submit">
        [% INCLUDE 'form/submit.tmpl' name="submit" value="Change Options" %]
    </div>
</noscript>

<div class="options" id="legend">
<h3>Legend</h3>
<div class = "options_contents">
<table class="harmonica" id="harptable_legend">
    <tr>
        <td class="natural">natural</td>
    </tr>
        
    [% IF harp.include_bends %]
    <tr>
        <td class="drawbend">bend</td>
    </tr>
    [% END %]
        
    [% IF harp.include_overbends %]
    <tr>
        <td class="overblow">over<br />bend</td>
    </tr>
    [% END %]
</table>

[% IF harp.show_interval_categories %]
<div id="interval_categories_legend">
    <span class="chord">&bull;</span> Chord note<br />
    <span class="blue">&bull;</span> Blue note<br />
    <span class="passing">&bull;</span> Passing note<br />
    <span class="danger">&bull;</span> Danger note
</div>
[% END %]
</div>
</div>