<div class="options" id="notes_options">
<h3>Include Notes</h3>
<div class = "options_contents">
[% CGI.checkbox (
        '-name'     => 'include_bends',
        '-checked'    => harp.include_bends,
        '-value'    => 1,
        '-label'    => 'Bends',
        '-onchange' => "handleChange('change options')"
        )
%]
<br>
[% CGI.checkbox (
    '-name'     => 'include_overbends',
    '-checked'    => harp.include_overbends,
    '-value'    => 1,
    '-label'    => 'Overblows / Overdraws',
    '-onchange' => "handleChange('change options')"
    )
%]
<br>
[% CGI.checkbox (
    '-name'     => 'include_unnecessary_overbends',
    '-checked'    => harp.include_unnecessary_overbends,
    '-value'    => 1,
    '-label'    => 'Unnecessary OBs / ODs',
    '-onchange' => "handleChange('change options')"
    )
%]
</div>
</div>

<div class="options" id="display_options">
<h3>Display</h3>
<div class = "options_contents">
[% CGI.checkbox (
    '-name'     => 'show_notes',
    '-checked'    => harp.show_notes,
    '-value'    => 1,
    '-label'    => 'Note names',
    '-onchange' => "handleChange('change options')"
    )
%]
<br>
[% CGI.checkbox (
    '-name'     => 'show_intervals',
    '-checked'    => harp.show_intervals,
    '-value'    => 1,
    '-label'    => 'Intervals',
    '-onchange' => "handleChange('change options')"
    )
%]
<br>
[% CGI.checkbox (
    '-name'     => 'show_interval_categories',
    '-checked'    => harp.show_interval_categories,
    '-value'    => 1,
    '-label'    => 'Interval categories',
    '-onchange' => "handleChange('change options')"
    )
%]
</div>
</div>