<div class="options" id="notes_options">
<h3>Include Notes</h3>
<div class = "options_contents">
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'include_bends'
    checked     = harp.include_bends
    label       = 'Bends'
    onchange    = "handleChange('change options')"
%]

<br>
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'include_overbends'
    checked     = harp.include_overbends
    label       = 'Overblows / Overdraws'
    onchange    = "handleChange('change options')"
%]
<br>
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'include_unnecessary_overbends'
    checked     = harp.include_unnecessary_overbends
    label       = 'Unnecessary OBs / ODs'
    onchange    = "handleChange('change options')"
%]
</div>
</div>

<div class="options" id="display_options">
<h3>Display</h3>
<div class = "options_contents">
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'show_notes'
    checked     = harp.show_notes
    label       = 'Note names'
    onchange    = "handleChange('change options')"
%]   
<br>
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'show_intervals'
    checked     = harp.show_intervals
    label       = 'Intervals'
    onchange    = "handleChange('change options')"
%]
<br>
[% INCLUDE 'form/checkbox.tmpl'
    name        = 'show_interval_categories'
    checked     = harp.show_interval_categories
    label       = 'Interval categories'
    onchange    = "handleChange('change options')"
%]
</div>
</div>
<table class="harmonica">
    <tr><td class="natural">natural</td><td class="drawbend">bend</td><td class="overblow">over<br>bend</td></tr>
</table>