[% title = "Harp Layout" %]
[% PROCESS 'inc/header.tmpl' %]

<body>
<div id="container">
<div id="header">
<h1>Harp Layout</h1>
</div> <!-- header -->

<div id="leftcol">
    <div class="spacer">&nbsp;</div>
</div> <!-- leftcol -->

<div id="content">

<div id="form_and_harp">
[% INCLUDE 'inc/form_and_harp.tmpl' %]
</div>

[% IF debug %]<p>Debug: [% debug %]</p>[% END %]
</div> <!-- content -->

<div id="footer">
    [% PROCESS 'inc/footer.tmpl' %]
</div> <!-- footer -->

</div> <!-- Container -->
</body>
</html>




